.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Pełna wysokość okna przeglądarki */
}

.app-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Zapobiega kurczeniu się nagłówka */
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  height: 100%; /* Pełna wysokość kontenera */
  box-sizing: border-box; /* Uwzględnienie paddingu w szerokości i wysokości */
  flex-shrink: 0; /* Zapobiega kurczeniu się */
}

.main-content {
  flex-grow: 1; /* Zajęcie pozostałej przestrzeni */
  padding: 20px;
  box-sizing: border-box; /* Uwzględnienie paddingu w szerokości i wysokości */
  overflow-y: auto; /* Dodanie przewijania w pionie */
}
